@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <!-- recensies-->
    <div>
        <h3><i>Rariteitenkabinet</i></h3>
        <blockquote>
            <p>"In etalagekasten staan grote weckpotten uitgestald, waarin mismaakte foetussen en aangetaste organen zweven. Een minimuseum op sterk water, over alles wat kan misgaan in het menselijk lichaam."</p>
            <p><small>Humo</small></p>
            <p><a href="http://www.humo.be/humo-archief/303579/onze-vrouw-bij-de-patholoog-anatoom" target="_blank">Lees artikel</a></p>
        </blockquote>
        <blockquote>
            <p>
                "De museumpreparaten van Dr. Van Robays zijn de vrucht van 35 jaar verzamelen. Ze tonen hoe een tumor (goedaardig of kwaadaardig) er in werkelijkheid uitziet in alle menselijke organen, van de hersenen tot in de kleine teen."
            </p>
            <p><small>Het Belang Van Limburg</small></p>
            <p><a href="http://www.hbvl.be/cnt/dmf20150226_01551724/bezoek-rariteitenkabinet-dr-johan-van-robays" target="_blank">Lees artikel</a></p>
        </blockquote>

        <h3><i>Andreas Vesalius</i></h3>
        <img class="thumbnail" style="width: 103%;" src="~/Images/Auteur/JvR Vesalius Roland01.jpg" />
        <img class="thumbnail" style="width: 102%;" src="~/Images/Auteur/Nele Vesalius 34.jpg" />
    </div>
    <!-- foto's-->
    <div class="section-colored">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Plaatjes van het verleden</h1>
                    <hr>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-responsive thumbnail" src="~/Images/Hobbyist/Homo sapiens.jpg">
                </div>
                <div class="col-lg-4 col-md-2 col-sm-6">
                    <img class="img-responsive thumbnail" src="~/Images/Hobbyist/1544 achterkant2.jpg">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-responsive thumbnail" src="~/Images/Hobbyist/jvr xjs01.jpg">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-responsive thumbnail" src="~/Images/Hobbyist/scannen0039.jpg">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-responsive thumbnail" src="~/Images/Hobbyist/Vake viool.jpg">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-responsive thumbnail" src="~/Images/Hobbyist/sixty six.jpg">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-responsive thumbnail" src="~/Images/Hobbyist/scannen0040.jpg">
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->

</body>
</html>
@*<p>
        Johan Van Robays zag het eerste levenslicht op 8 juni 1950 in Roeselare. Sterrenkundig is hij een tweeling. Na zijn middelbare studies Latijn Grieks & Wetenschappen aan het Klein Seminarie studeerde hij geneeskunde in Leuven.
    </p>
    <p>
        Na het behalen van zijn doktersdiploma huwde hij An Blomme die hem 10 kinderen schonk waaronder 6 dochters en 4 zonen. Van 1975 tot 1979 specialiseerde hij zich in de anatomo-pathologie en werd in 1981 diensthoofd Pathologische Ontleedkunde in het Ziekenhuis Oost Limburg Genk (ZOL).
    </p>
    <p>
        Naast patholoog en huisvader is hij een volbloed Bourgondiër. En nog een paar andere zaken.
    </p>*@

@*<div class="section-colored">

        <div class="container">

            <div class="row">
                <h1>Auteur</h1>
                <hr />
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img class="img-responsive" style="width: 93%;" src="~/Images/Auteur/Andreas cover  2D.jpg">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img class="img-responsive" style="width: 100%;" src="~/Images/Auteur/zolarium51.png" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h3>Boeken:</h3>
                    <ul>
                        <li>Andreas</li>
                        <li>Fritz de Foet(in voorbereiding)</li>
                    </ul>
                    <br />
                    <h3>Artikels:</h3>
                    <h4>Artsenkrant</h4>
                    <ul>
                        <li>Ambroise Paré</li>
                        <li>Anatomisch PanOpticum</li>
                        <li>Levend Labo</li>
                        <li>Vesalius</li>
                    </ul>
                    <h4>ZOLarium</h4>
                    <ul>
                        <li>Dissectiekamer</li>
                        <li>Eponiemen kabinet</li>
                    </ul>
                    <br />
                    <a href="@Url.Action("Index", "Auteur")" class="btn btn-primary">Bekijk Auteur<i class="fa fa-angle-right"></i></a>

                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h1>Rariteitenkabinet</h1>
                    <hr />
                    <h4>Chirurgische operatiestukken:</h4>
                    <ul>
                        <li>Een overzicht van 35 jaar pathologie</li>
                        <li>
                            goedaardige & kwaadaardige tumoren:
                            borstklierkanker, longkanker, levermetastase,
                            darmpoliep, darmkanker, ziekte
                            van Crohn, galblaasstenen, divertikels …
                        </li>
                    </ul>
                    <h4>Rariteiten:</h4>
                    <ul></ul>
                    <ul>
                        <li>
                            monstergezwel, zeemeermin, cycloop,
                            hersenloze foetus, buitenbaarmoederlijkeenschijnzwangerschap.
                        </li>
                    </ul>
                    <h4>
                        Afspraak:
                    </h4>
                    <ul>
                        <li>Alle dagen mogelijk mits afspraak</li>
                        <li>groepen van 10 tot<strong> maximum </strong> 25 personen</li>
                        <li>professionele uitleg + volledig gratis(een flesje wijn wordt niet afgeslaan natuurlijk).</li>
                    </ul>
                    <h4>
                        Adres:
                    </h4>
                    <ul>
                        <li>Johan Van Robays: 0472/32.90.02</li>
                        <li><a href="mailto:johan.vanrobays@zol.be?SUBJECT=Rariteitenkabinet">johan.vanrobays@zol.be</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive thumbnail" src="~/Images/Curator/rariteitenkabinet01.jpg">
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->*@
