@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <!-- recensies-->
    <div>
        <h3><i>Rariteitenkabinet</i></h3>
        <blockquote>
            <p>"In etalagekasten staan grote weckpotten uitgestald, waarin mismaakte foetussen en aangetaste organen zweven. Een minimuseum op sterk water, over alles wat kan misgaan in het menselijk lichaam."</p>
            <p><small>Humo</small></p>
            <p><a href="http://www.humo.be/humo-archief/303579/onze-vrouw-bij-de-patholoog-anatoom" target="_blank">Lees artikel</a></p>
        </blockquote>
        <blockquote>
            <p>
                "De museumpreparaten van Dr. Van Robays zijn de vrucht van 35 jaar verzamelen. Ze tonen hoe een tumor (goedaardig of kwaadaardig) er in werkelijkheid uitziet in alle menselijke organen, van de hersenen tot in de kleine teen."
            </p>
            <p><small>Het Belang Van Limburg</small></p>
            <p><a href="http://www.hbvl.be/cnt/dmf20150226_01551724/bezoek-rariteitenkabinet-dr-johan-van-robays" target="_blank">Lees artikel</a></p>
        </blockquote>

        <h3><i>Andreas Vesalius</i></h3>
        <img class="thumbnail" style="width: 103%;" src="~/Images/Auteur/JvR Vesalius Roland01.jpg" />
        <img class="thumbnail" style="width: 102%;" src="~/Images/Auteur/Nele Vesalius 34.jpg" />
    </div>
    <!-- foto's-->
    <div class="section-colored">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Plaatjes van het verleden</h1>
                    <hr>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-responsive thumbnail" src="~/Images/Hobbyist/Homo sapiens.jpg">
                </div>
                <div class="col-lg-4 col-md-2 col-sm-6">
                    <img class="img-responsive thumbnail" src="~/Images/Hobbyist/1544 achterkant2.jpg">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-responsive thumbnail" src="~/Images/Hobbyist/jvr xjs01.jpg">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-responsive thumbnail" src="~/Images/Hobbyist/scannen0039.jpg">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-responsive thumbnail" src="~/Images/Hobbyist/Vake viool.jpg">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-responsive thumbnail" src="~/Images/Hobbyist/sixty six.jpg">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <img class="img-responsive thumbnail" src="~/Images/Hobbyist/scannen0040.jpg">
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->

</body>
</html>
