@{
    ViewBag.Title = "Pater Familias";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Pater Familias
                <small>10 kinderen</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Pater Familias</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="~/Images/Pater Familias/Flair 10 VR copy.jpg" class="img-responsive" usemap="#imgmap" />
            <map name="imgmap">
                <area alt="Maaike" shape="rect" coords="0,360,160,570" href="#">
                <area alt="Hans" shape="rect" coords="500,120,600,255" href="#">
                <area alt="Mattias" shape="rect" coords="920,0,1010,200" href="#">
                <area alt="Nele" shape="rect" coords="760,80,870,200" href="#Nele">
                <area alt="Ine" shape="rect" coords="260,130,360,250" href="#">
                <area alt="Lies" shape="rect" coords="150,150,250,260" href="#">
                <area alt="Griet" shape="rect" coords="1010,0,1120,200" href="#">
                <area alt="Sanne" shape="rect" coords="700,200,830,350" href="#Sanne">
                <area alt="Gijs" shape="rect" coords="600,60,720,200" href="#">
                <area alt="Daan" shape="rect" coords="330,360,460,500" href="#">
            </map>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-lg-push-1">
            <h3 class="page-header">De 10 kinderen</h3>
        </div>
        <div class="col-sm-2 col-xs-5 col-lg-push-1">
            <a href="#">
                <p>Maaike</p>
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-2 col-xs-5 col-lg-push-1">
            <a href="#">
                <p>Hans</p>
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-2 col-xs-5 col-lg-push-1">
            <a href="#">
                <p>Mattias</p>
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-2 col-xs-5 col-lg-push-1">
            <a href="#">
                <p>Nele</p>
                <img src="~/Images/Familie/Nele.jpg" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-2 col-xs-5 col-lg-push-1">
            <a href="#">
                <p>Ine</p>
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-xs-5 col-lg-push-1">
            <a href="#">
                <p>Lies</p>
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-2 col-xs-5 col-lg-push-1">
            <a href="#">
                <p>Griet</p>
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-2 col-xs-5 col-lg-push-1">
            <a href="#">
                <p>Sanne</p>
                <img src="~/Images/Familie/Sanne.jpg" class="img-responsive img-customer" />
            </a>
        </div>
        <div class="col-sm-2 col-xs-5 col-lg-push-1">
            <a href="#">
                <p>Gijs</p>
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-2 col-xs-5 col-lg-push-1">
            <a href="#">
                <p>Daan</p>
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
    </div>
    <hr />
    <a name="Sanne">
        <div class="row">
            <div class="row">
                <div class="col-md-7">
                    <h3>Sanne Van Robays</h3>
                    <h4>Costume Designer</h4>
                    <p>19 December 1987</p>
                </div>
                <div class="col-md-5">
                    <img src="~/Images/Familie/Sanne.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </a>
    <hr/>
    <a name="Nele">
    </a>
        <div class="row">
            <div class="row">
                <div class="col-md-7">
                    <h3>Nele Van Robays</h3>
                    <br />
                    <h4>Geboortedatum: 18-12-1980</h4>
                    <br />
                    <h4>Beroep: Leerkracht avondonderwijs</h4>
                    <br />
                    <h4>Partner: Bruno Du Bois</h4>
                    <br />
                    <h4>Kinderen: Renske Du Bois 14-04-2008</h4>
                </div>
                <div class="col-md-5">
                    <img src="~/Images/Familie/Nele.jpg" class="img-responsive">
                </div>
            </div>
        </div>
</div>