@{
    ViewBag.Title = "Muzikant";
}

<div id="myCarousel" class="carouselbig hidden-sm hidden-xs">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image: url('../Images/Hobbyist/Johan orgelliefhebber.jpg'); "></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Muzikant
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Muzikant</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="#">
                <h3>
                    1544
                </h3>
                <img src="~/Images/Hobbyist/1544 cover.jpg" style="width:83%" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="#">
                <h3>
                    Sixty Six
                </h3>
                <img src="~/Images/Hobbyist/sixty six.jpg" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="#">
                <h3>
                    Bouw klavecimbel
                </h3>
                <img src="" alt="Bouw klavecimbel" class="img-responsive" />
            </a>
        </div>
    </div>
    <br />
</div>