@{
    ViewBag.Title = "Patholoog";
}

<div id="myCarousel" class="carouselbig hidden-sm hidden-xs">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image: url('../Images/Patholoog/autopsieSmall.jpg'); "></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Patholoog
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Patholoog</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="~/Images/Patholoog/humopagina1.png">
                <img src="~/Images/Patholoog/humopagina1.png" alt="Humo artikel" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-6">
            <a href="~/Images/Patholoog/humo.png">
                <img src="~/Images/Patholoog/humo.png" alt="Humo artikel" class="img-responsive" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="~/Images/Patholoog/humopagina2.png">
                <img src="~/Images/Patholoog/humopagina2.png" alt="Humo artikel" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-6">
            <a href="~/Images/Patholoog/humopagina3.png">
                <img src="~/Images/Patholoog/humopagina3.png" alt="Humo artikel" class="img-responsive" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="~/Images/Patholoog/humopagina4.png">
                <img src="~/Images/Patholoog/humopagina4.png" alt="Humo artikel" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-6">
            <h3>ZOLexit</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YifPJPiMLl4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Andere foto's</h3>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
    </div>
</div>