@{
    ViewBag.Title = "Fotosessie thuis";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Fotosessie thuis
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>@Html.ActionLink("Carnaval", "Index", "Carnaval")</li>
                <li class="active">Fotosessie thuis</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="~/Images/Carnaval/Thuis/JVR_TVG_043.jpg" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="~/Images/Carnaval/Thuis/JVR_TVG_047.jpg" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="~/Images/Carnaval/Thuis/JVR_TVG_014.jpg" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="~/Images/Carnaval/Thuis/JVR_TVG_022.jpg" class="img-responsive img-customer">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="~/Images/Carnaval/Thuis/trio03.jpg" class="img-responsive img-customer">
            </a>
            <a href="#">
                <img src="~/Images/Carnaval/Thuis/trio01.jpg" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="~/Images/Carnaval/Thuis/JVR_TVG_001.jpg" class="img-responsive img-customer">
            </a>
            <a href="#">
                <img src="~/Images/Carnaval/Thuis/Kapper15.jpg" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="~/Images/Carnaval/Thuis/Kapper09.jpg" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="~/Images/Carnaval/Thuis/Kapper11.jpg" class="img-responsive img-customer">
            </a>
        </div>
    </div>
</div>