@{
    ViewBag.Title = "Single Portfolio Item";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Biografie
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Biografie</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2> 1950</h2>
                        <h3>8 jun</h3>
                    </div>
                    <div class="blog-content">
                        <p>Johan werd geboren in Roeselare, België</p>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2> 1958</h2>
                        <h3></h3>
                    </div>
                    <div class="blog-content">
                        <p>Muziekschool en vioolles bij John Craeynest</p>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2> 1962</h2>
                        <h2> - </h2>
                        <h2> 1968</h2>
                    </div>
                    <div class="blog-content">
                        <p>Middelbare studies Latijn Grieks Wetenschappen Klein Seminarie</p>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2> 1966</h2>
                        <h3></h3>
                    </div>
                    <div class="blog-info">
                        <div class="blog-content">
                            <p>Organist bij de boys band ‘The Sixty Six’</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2>1967</h2>
                        <h3></h3>
                    </div>
                    <div class="blog-info">
                        <div class="blog-content">
                            <p>Orgelklas bij Chris Dubois</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2>1968</h2>
                        <h2> – </h2>
                        <h2>1975</h2>
                        <h3></h3>
                    </div>
                    <div class="blog-info">
                        <div class="blog-content">
                            <p>Studies geneeskunde KULeuven </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2>1975</h2>
                        <h3>23 aug</h3>
                    </div>
                    <div class="blog-info">
                        <div class="blog-content">
                            <p>Huwelijk met An Blomme 10 kinderen: 6 dochters, 4 zonen</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2>1975</h2>
                        <h2> – </h2>
                        <h2>1979</h2>
                        <h3></h3>
                    </div>
                    <div class="blog-info">
                        <div class="blog-content">
                            <p>Specialisatie anatomo-pathologie</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2>1976</h2>
                        <h2> – </h2>
                        <h2>1979</h2>
                        <h3></h3>
                    </div>
                    <div class="blog-info">
                        <div class="blog-content">
                            <p>Muzikant (accordeon, klavecimbel en kromhoorn) in de folkgroep ‘1544’</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2>1977</h2>
                        <h3></h3>
                    </div>
                    <div class="blog-info">
                        <div class="blog-content">
                            <p>Bouw klavecimbel</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2>1979</h2>
                        <h2> – </h2>
                        <h2>1981</h2>
                        <h3></h3>
                    </div>
                    <div class="blog-info">
                        <div class="blog-content">
                            <p>Patholoog in associatie met dr. N. Van Strijthem</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2>1981</h2>
                        <h2> - </h2>
                        <h2>2015</h2>
                        <h3></h3>
                    </div>
                    <div class="blog-info">
                        <div class="blog-content">
                            <p>Diensthoofd Pathologische Ontleedkunde in het Ziekenhuis Oost Limburg Genk (ZOL)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2>1991</h2>
                        <h2> - </h2>
                        <h2>1997</h2>
                        <h3></h3>
                    </div>
                    <div class="blog-info">
                        <div class="blog-content">
                            <p>Lid van de Jaguar Drivers Club</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2>2003</h2>
                        <h2> - </h2>
                        <h2>…</h2>
                        <h3></h3>
                    </div>
                    <div class="blog-info">
                        <div class="blog-content">
                            <p>ZOLarium scribent (driemaandelijks tijdschrift ZOL)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2>2004</h2>
                        <h2> - </h2>
                        <h2>…</h2>
                        <h3></h3>
                    </div>
                    <div class="blog-info">
                        <div class="blog-content">
                            <p>Artsenkrant scribent met reeksen over Vesalius, Ambroise Paré, Levend Lab en over de geschiedenis van de medische illustratie</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2>2008</h2>
                        <h3></h3>
                    </div>
                    <div class="blog-info">
                        <div class="blog-content">
                            <p>Inhuldiging Rariteitenkabinet en Orgaanmuseum in het ZOL. (Verzamelde operatiestukken over een periode van 35 jaar)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2>2014</h2>
                        <h3></h3>
                    </div>
                    <div class="blog-info">
                        <div class="blog-content">
                            <p>Roman ANDREAS, een autobiografie over het leven van Andreas Vesalius</p>
                            <p>Causerieën en theater monologen over en als Vesalius</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2>2015</h2>
                        <h3></h3>
                    </div>
                    <div class="blog-info">
                        <div class="blog-content">
                            <p>Pensioen</p>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2></h2>
                        <h3></h3>
                    </div>
                    <div class="blog-info">
                        <div class="blog-content">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
        <div class="col-md-6">
        </div>
    </div>
        @*<div class="blog-content">
            <p>“Men kan een koord óók misbruiken!” bron: Patrick Dewals | dewereldmorgen.be Verleden week interviewde ik Herman Brusselmans omtrent ons cannabisbeleid. Het gebeurde dus nog voor het pukkelpopfascisme waarmee ons land alweer haar anders-zijn intolerantie etaleert. De jonge god van de  <a href="http://www.hermanbrusselmans.com/nieuws/interview-met-herman-over-cannabis/" class="color_txt readmore">READ MORE</a></p>
        </div>


        <div class="blog">
                <div class="blog-data">
                    <div class="blog-date text-center">
                        <h2></h2>
                        <h3></h3>
                    </div>
                    <div class="blog-info">
                        <div class="blog-content">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        *@
</div>