@{
    ViewBag.Title = "Fotografie en Schilderwerk";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Fotografie en Schilderwerk
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Fotografie en Schilderwerk</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-3 col-md-push-1">
        </div>
    </div>
</div>